body{
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif !important; 
	max-height: 500px;
}

ul{
	margin-left: 0;
}
#topbar{
	height:70px;
	background-color: #FF9B9B;
}

#header{
	font-family: 'Source Sans Pro', sans-serif !important; 
	font-size: 18px;
	color:#434343;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 22px;
}

.main-container{
	width:320px;
	min-height:300px;
	max-height:500px;
	overflow: scroll;
}

#queue{
	list-style-type: none;
}

.song-banner{
	margin-top: 4px;
	border-bottom:1px solid #ABABAB;
	padding: 10px;
	padding-bottom: 13px;
	cursor: pointer;
}

.song-thumb{
	height:20px;
	width: 20px;
}

.song-name{
	font-size: 12px;
	display: block;
}

.song-artist{
	font-size:10px;
	display: block;
}

.song-player-button{
	color:#434343;
}

.song-player-button:hover{
	color:#434343;
}

#songPlayer{
	margin: auto;
	display: inline-block;
}

.player-container{
	height:50px;
}